.mypy_cache/
/venv/
*venv*
__pycache__
pyrightconfig.json
*.npz
*.log
*.png
/baselines/MaximilianoMolluraEtAl/*
/storage/*SepsisMetrics.db/*
/storage/other/*SepsisMetrics.db/*
data/*
matlab/
figures/
!typst/figures/
runs/
typings/
/old_runs/
latex/
misc/.ipynb_checkpoints
misc/__marimo__
misc/.virtual_documents
misc/old_notebooks
src/sepsis_osc.egg-info
jax_cache/
