beartype==0.21.0
colorlog>=0.6.9
diffrax==0.7.0
equinox==0.13.2
faiss-cpu==1.11.0
jax==0.8.0  # or jax[cuda13]
jaxkd==0.1.0
matplotlib>=3.9.2
msgpack-numpy==0.4.8
numpy>=2.0.1
rocksdb-py==0.0.5
tqdm==4.67.1

# YAIB packages: polars scikit-learn joblib threadpoolctl recipies gin-config torch
