matplotlib>=3.9.2
numpy>=2.0.1
jax==0.5.3
diffrax==0.7.0
equinox==0.11.11
tqdm==4.67.1
colorlog>=0.6.9
faiss-cpu==1.10.0
msgpack-numpy==0.4.8
rocksdb-py==0.0.5

# at some point we need this
# torch>=2.3.1
